@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html, body {
    min-height: 100%;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    line-height: 2em;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(87, 87, 87);
    color: white;
}

.imagem > p {
    background-color: rgba(0, 0, 0, 0.24);
    width: fit-content;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}