@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header > h1 {
    font-family: Arial, Helvetica, sans-serif;
}

main > h2 {
    font-family: Arial, Helvetica, sans-serif;
}

main > p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}